In [3]:
import pandas as pd
import requests
import json

In [118]:
def obtener_indicadores_paginados(pagina):
    url = f'https://api.worldbank.org/v2/country/all/indicator/SM.POP.NETM?format=json&date=1990:2020&page={pagina}'
    response = requests.get(url)
    data = response.json()
    indicadores = data[1]
    return indicadores

# Variables para almacenar los indicadores
todos_los_indicadores = []

# Obtener todas las p√°ginas de indicadores
total_paginas = 165  # Tomado de los metadatos
for pagina in range(1, total_paginas + 1):
    indicadores_pagina = obtener_indicadores_paginados(pagina)
    todos_los_indicadores.extend(indicadores_pagina)

# Crear el DataFrame final
df = pd.DataFrame(todos_los_indicadores)

In [132]:
df.sample(5)

          indicator                 country countryiso3code  date     value
5653  Net migration                 Morocco             MAR  2009  -82207.0
7471  Net migration                Thailand             THA  2020   35526.0
6639  Net migration   Sao Tome and Principe             STP  2015   -1800.0
7337  Net migration                  Sweden             SWE  1999   26554.0
2288  Net migration  Bosnia and Herzegovina             BIH  1995  126915.0

In [120]:
df = df.drop(columns= ['unit', 'obs_status', 'decimal'])

In [121]:
df['indicator'] = df['indicator'].apply(lambda x: x['value'])

In [122]:
df['country'] = df['country'].apply(lambda x: x['value'])

In [124]:
len(df['country'].unique())

266

In [133]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   indicator        8246 non-null   object
 1   country          8246 non-null   object
 2   countryiso3code  8246 non-null   object
 3   date             8246 non-null   object
 4   value            8215 non-null   float64
dtypes: float64(1), object(4)
memory usage: 322.2+ KB