In [1]:
import pandas as pd
import requests
import json

In [2]:
def obtener_indicadores_paginados(pagina):
    url = f'https://api.worldbank.org/v2/country/all/indicator/SM.POP.NETM?format=json&date=1990:2020&page={pagina}'
    response = requests.get(url)
    data = response.json()
    indicadores = data[1]
    return indicadores

data = []

total_paginas = 165
for pagina in range(1, total_paginas + 1):
    indicadores_pagina = obtener_indicadores_paginados(pagina)
    data.extend(indicadores_pagina)

df = pd.DataFrame(data)

In [8]:
df.sample(5)

          indicator   country countryiso3code  date    value
4589  Net migration    Jordan             JOR  2019  28963.0
2543  Net migration  Cambodia             KHM  2019 -55607.0
7592  Net migration     Tonga             TON  1992  -2187.0
7549  Net migration      Togo             TGO  2004  -1007.0
4584  Net migration     Japan             JPN  1993  39228.0

In [4]:
df = df.drop(columns= ['unit', 'obs_status', 'decimal'])

In [5]:
df['indicator'] = df['indicator'].apply(lambda x: x['value'])

In [6]:
df['country'] = df['country'].apply(lambda x: x['value'])

In [8]:
len(df['country'].unique())

266

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   indicator        8246 non-null   object
 1   country          8246 non-null   object
 2   countryiso3code  8246 non-null   object
 3   date             8246 non-null   object
 4   value            8215 non-null   float64
dtypes: float64(1), object(4)
memory usage: 322.2+ KB

In [25]:
df.to_csv(os.path.join(current_dir, 'Datasets', 'prueba.csv'))