In [1]:
import pandas as pd

In [2]:
from IPython.display import display
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

Lugares de origen de migrantes, datos en columnas cada 5 años de 1990 hasta 2020, total y disgregados por sexo

In [3]:
origen = pd.read_csv('data\origen (1).csv', skiprows=[0, 1, 2, 3,4,5,6,7,8,9])

In [4]:
origen = origen.drop(columns=['Index', 'Type of data', 'Notes', '1990', '1995', '2000', '2005', '2010', '2015', '2020'])

In [22]:
origen.head()

,"Region, development group, country or area",Location code,Year,Numero de Migrantes
0,WORLD,900,1990.1,77563467
1,Sub-Saharan Africa,947,1990.1,8136844
2,Northern Africa and Western Asia,1833,1990.1,8830013
3,Central and Southern Asia,921,1990.1,17054672
4,Eastern and South-Eastern Asia,1832,1990.1,7414751

In [6]:
def convert_to_int(value):
    try:
        return int(value.replace(' ', ''))
    except (ValueError, AttributeError):
        return 0

In [7]:
origen[origen.columns[2:]] = origen[origen.columns[2:]].applymap(convert_to_int)

In [20]:
origen = pd.melt(origen, id_vars=origen.columns[:2], value_vars=origen.columns[2:], var_name='Year', value_name='Numero de Migrantes')

In [23]:
origen.rename(columns={'Region, development group, country or area': 'Region'}, inplace=True)

In [56]:
origen['Género'] = origen['Year'].apply(lambda x: 'Hombres' if x.endswith('.1') else 'Mujeres')

In [63]:
origen['Year'] = origen['Year'].astype(str).str.split('.').str[0]
origen['Year'] = origen['Year'].astype(int)

In [64]:
origen.head()

,Region,Location code,Year,Numero de Migrantes,Género
0,WORLD,900,1990,77563467,Hombres
1,Sub-Saharan Africa,947,1990,8136844,Hombres
2,Northern Africa and Western Asia,1833,1990,8830013,Hombres
3,Central and Southern Asia,921,1990,17054672,Hombres
4,Eastern and South-Eastern Asia,1832,1990,7414751,Hombres

In [67]:
origen.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3976 entries, 0 to 3975
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Region               3976 non-null   object
 1   Location code        3976 non-null   int64
 2   Year                 3976 non-null   int32
 3   Numero de Migrantes  3976 non-null   int64
 4   Género               3976 non-null   object
dtypes: int32(1), int64(2), object(2)
memory usage: 139.9+ KB

In [69]:
origen.to_csv('data\origen_clean.csv', index=False)

Lugar de origen de emigrantes mujeres datos separados cada 5 años

In [26]:
origen_mujeres = pd.read_csv('data\origen_mujeres.csv', skiprows=[0, 1, 2, 3,4,5,6,7,8,9])

In [27]:
origen_mujeres = origen_mujeres.drop(columns=['Index', 'Type of data', 'Notes'])

In [28]:
origen_mujeres.head()

,"Region, development group, country or area",Location code,1990,1995,2000,2005,2010,2015,2020
0,WORLD,900,49.3,49.4,49.4,49.0,48.4,48.3,48.1
1,Sub-Saharan Africa,947,46.9,47.4,47.3,46.6,47.2,48.0,47.9
2,Northern Africa and Western Asia,1833,46.0,45.6,44.8,44.7,43.7,44.3,44.3
3,Central and Southern Asia,921,45.2,44.8,44.4,43.3,40.5,39.8,39.1
4,Eastern and South-Eastern Asia,1832,49.8,50.4,51.0,51.1,51.2,51.3,51.0

In [35]:
origen_mujeres.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1988 entries, 0 to 1987
Data columns (total 4 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Region, development group, country or area  1988 non-null   object
 1   Location code                               1988 non-null   int64
 2   Year                                        1988 non-null   object
 3   Numero de Migrantes                         1988 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 62.3+ KB

In [31]:
def convert_to_float(value):
    try:
        return float(value)
    except ValueError:
        return 0.0

In [32]:
origen_mujeres[origen_mujeres.columns[2:]] = origen_mujeres[origen_mujeres.columns[2:]].applymap(convert_to_float)

In [34]:
origen_mujeres = pd.melt(origen_mujeres, id_vars=origen_mujeres.columns[:2], value_vars=origen_mujeres.columns[2:], var_name='Year', value_name='Numero de Migrantes')

In [37]:
origen_mujeres.rename(columns={'Region, development group, country or area': 'Region'}, inplace=True)

In [38]:
origen_mujeres.head()

,Region,Location code,Year,Numero de Migrantes
0,WORLD,900,1990,49.3
1,Sub-Saharan Africa,947,1990,46.9
2,Northern Africa and Western Asia,1833,1990,46.0
3,Central and Southern Asia,921,1990,45.2
4,Eastern and South-Eastern Asia,1832,1990,49.8

In [70]:
origen_mujeres.to_csv('data\origen_mujeres_clean.csv', index=False)