In [1]:
import pandas as pd

In [3]:
df_origen = pd.read_csv('Datasets/refugee-population-by-country-or-territory-of-origin.csv')

In [4]:
df_origen.head()

,Entity,Code,Year,Refugee population by country or territory of origin
0,Afghanistan,AFG,1979,500000
1,Afghanistan,AFG,1980,1734921
2,Afghanistan,AFG,1981,3879984
3,Afghanistan,AFG,1982,4488214
4,Afghanistan,AFG,1983,4712735

In [7]:
df_origen.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6894 entries, 0 to 6893
Data columns (total 4 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   Entity                                                6894 non-null   object
 1   Code                                                  6439 non-null   object
 2   Year                                                  6894 non-null   int64
 3   Refugee population by country or territory of origin  6894 non-null   int64
dtypes: int64(2), object(2)
memory usage: 215.6+ KB

In [5]:
df_asilo = pd.read_csv('Datasets/refugee-population-by-country-or-territory-of-asylum.csv')

In [6]:
df_asilo.head()

,Entity,Code,Year,Refugee population by country or territory of asylum
0,Afghanistan,AFG,1990,50
1,Afghanistan,AFG,1991,38
2,Afghanistan,AFG,1992,60025
3,Afghanistan,AFG,1993,32131
4,Afghanistan,AFG,1994,19134

In [8]:
df_asilo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7223 entries, 0 to 7222
Data columns (total 4 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   Entity                                                7223 non-null   object
 1   Code                                                  6745 non-null   object
 2   Year                                                  7223 non-null   int64
 3   Refugee population by country or territory of asylum  7223 non-null   int64
dtypes: int64(2), object(2)
memory usage: 225.8+ KB