In [1]:
import pandas as pd
import numpy as np

In [2]:
d_mujeres = pd.read_csv('destino_mujeres_pais.csv')

In [3]:
d_mujeres.head()

,"Region, development group, country or area",Notes,Location code,Type of data,Year,Numero de Migrantes
0,Burundi,0.0,108,B R,1990,51.0
1,Comoros,0.0,174,B,1990,52.3
2,Djibouti,0.0,262,B R,1990,47.4
3,Eritrea,0.0,232,I R,1990,47.4
4,Ethiopia,0.0,231,B R,1990,47.4

In [4]:
# Lista de columnas a eliminar
columns_to_drop = ['Notes', 'Type of data']

# Eliminar las columnas del DataFrame
d_mujeres.drop(columns=columns_to_drop, inplace=True)

In [5]:
d_mujeres.shape

(1813, 4)

In [6]:
d_mujeres.dtypes

Region, development group, country or area     object
Location code                                   int64
Year                                            int64
Numero de Migrantes                           float64
dtype: object

In [7]:
d_mujeres.rename(columns={'Region, development group, country or area': 'País', 'Year': 'Año', 'Location code': 'Código de ubicación'}, inplace=True)

In [8]:
d_mujeres.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1813 entries, 0 to 1812
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   País                 1813 non-null   object
 1   Código de ubicación  1813 non-null   int64
 2   Año                  1813 non-null   int64
 3   Numero de Migrantes  1813 non-null   float64
dtypes: float64(1), int64(2), object(1)
memory usage: 56.8+ KB

In [9]:
d_mujeres = d_mujeres[~d_mujeres['Año'].isin([1990, 1995])]

In [10]:
valores_unicos = d_mujeres['País'].unique()
print(valores_unicos)

['   Burundi' '   Comoros' '   Djibouti' '   Eritrea' '   Ethiopia'
 '   Kenya' '   Madagascar' '   Malawi' '   Mauritius*' '   Mayotte*'
 '   Mozambique' '   Réunion*' '   Rwanda' '   Seychelles' '   Somalia'
 '   South Sudan' '   Uganda' '   United Republic of Tanzania*'
 '   Zambia' '   Zimbabwe' '  Middle Africa' '   Angola' '   Cameroon'
 '   Central African Republic' '   Chad' '   Congo'
 '   Democratic Republic of the Congo' '   Equatorial Guinea' '   Gabon'
 '   Sao Tome and Principe' '  Northern Africa' '   Algeria' '   Egypt'
 '   Libya' '   Morocco' '   Sudan' '   Tunisia' '   Western Sahara'
 '  Southern Africa' '   Botswana' '   Eswatini' '   Lesotho' '   Namibia'
 '   South Africa' '  Western Africa' '   Benin' '   Burkina Faso'
 '   Cabo Verde' "   Côte d'Ivoire" '   Gambia' '   Ghana' '   Guinea'
 '   Guinea-Bissau' '   Liberia' '   Mali' '   Mauritania' '   Niger'
 '   Nigeria' '   Saint Helena*' '   Senegal' '   Sierra Leone' '   Togo'
 ' ASIA' '  Central Asia' '   Kazakhstan' '   Kyrgyzstan' '   Tajikistan'
 '   Turkmenistan' '   Uzbekistan' '  Eastern Asia' '   China*'
 '   China, Hong Kong SAR*' '   China, Macao SAR*'
 '   China, Taiwan Province of China*'
 "   Dem. People's Republic of Korea" '   Japan' '   Mongolia'
 '   Republic of Korea' '  South-Eastern Asia' '   Brunei Darussalam'
 '   Cambodia' '   Indonesia' "   Lao People's Democratic Republic"
 '   Malaysia*' '   Myanmar' '   Philippines' '   Singapore' '   Thailand'
 '   Timor-Leste' '   Viet Nam' '  Southern Asia' '   Afghanistan'
 '   Bangladesh' '   Bhutan' '   India' '   Iran (Islamic Republic of)'
 '   Maldives' '   Nepal' '   Pakistan' '   Sri Lanka' '  Western Asia'
 '   Armenia' '   Azerbaijan*' '   Bahrain' '   Cyprus*' '   Georgia*'
 '   Iraq' '   Israel' '   Jordan' '   Kuwait' '   Lebanon' '   Oman'
 '   Qatar' '   Saudi Arabia' '   State of Palestine*'
 '   Syrian Arab Republic' '   Turkey' '   United Arab Emirates'
 '   Yemen' ' EUROPE' '  Eastern Europe' '   Belarus' '   Bulgaria'
 '   Czechia' '   Hungary' '   Poland' '   Republic of Moldova*'
 '   Romania' '   Russian Federation' '   Slovakia' '   Ukraine*'
 '  Northern Europe' '   Channel Islands*' '   Denmark*' '   Estonia'
 '   Faroe Islands*' '   Finland*' '   Iceland' '   Ireland'
 '   Isle of Man*' '   Latvia' '   Lithuania' '   Norway*' '   Sweden'
 '   United Kingdom*' '  Southern Europe' '   Albania' '   Andorra'
 '   Bosnia and Herzegovina' '   Croatia' '   Gibraltar*' '   Greece'
 '   Holy See*' '   Italy' '   Malta' '   Montenegro' '   North Macedonia'
 '   Portugal' '   San Marino' '   Serbia*' '   Slovenia' '   Spain*'
 '  Western Europe' '   Austria' '   Belgium' '   France*' '   Germany'
 '   Liechtenstein' '   Luxembourg' '   Monaco' '   Netherlands*'
 '   Switzerland' ' LATIN AMERICA AND THE CARIBBEAN' '  Caribbean'
 '   Anguilla*' '   Antigua and Barbuda' '   Aruba*' '   Bahamas'
 '   Barbados' '   Bonaire, Sint Eustatius and Saba*'
 '   British Virgin Islands*' '   Cayman Islands*' '   Cuba' '   Curaçao*'
 '   Dominica' '   Dominican Republic' '   Grenada' '   Guadeloupe*'
 '   Haiti' '   Jamaica' '   Martinique*' '   Montserrat*'
 '   Puerto Rico*' '   Saint Barthélemy*' '   Saint Kitts and Nevis'
 '   Saint Lucia' '   Saint Martin (French part)*'
 '   Saint Vincent and the Grenadines' '   Sint Maarten (Dutch part)*'
 '   Trinidad and Tobago' '   Turks and Caicos Islands*'
 '   United States Virgin Islands*' '  Central America' '   Belize'
 '   Costa Rica' '   El Salvador' '   Guatemala' '   Honduras' '   Mexico'
 '   Nicaragua' '   Panama' '  South America' '   Argentina'
 '   Bolivia (Plurinational State of)' '   Brazil' '   Chile'
 '   Colombia' '   Ecuador' '   Falkland Islands (Malvinas)*'
 '   French Guiana*' '   Guyana' '   Paraguay' '   Peru' '   Suriname'
 '   Uruguay' '   Venezuela (Bolivarian Republic of)' ' NORTHERN AMERICA'
 '   Bermuda*' '   Canada' '   Greenland*' '   Saint Pierre and Miquelon*'
 '   United States of America*' ' OCEANIA ' '   Australia*'
 '   New Zealand*' '  Melanesia' '   Fiji' '   New Caledonia*'
 '   Papua New Guinea' '   Solomon Islands' '   Vanuatu' '  Micronesia'
 '   Guam*' '   Kiribati' '   Marshall Islands'
 '   Micronesia (Fed. States of)' '   Nauru'
 '   Northern Mariana Islands*' '   Palau' '  Polynesia*'
 '   American Samoa*' '   Cook Islands*' '   French Polynesia*' '   Niue*'
 '   Samoa' '   Tokelau*' '   Tonga' '   Tuvalu'
 '   Wallis and Futuna Islands*']

In [23]:
paises_a_filtrar = ['Northern Africa', 'Middle Africa', 'Southern Africa', 'Western Africa',  
                    'ASIA', 'Central Asia', 'Eastern Asia', 'South-Eastern Asia', 'Southern Asia',
                     'Western Asia', 'EUROPE', 'Eastern Europe', 'Northern Europe', 'Southern Europe',
                     'Western Europe', 'LATIN AMERICA AND THE CARIBBEAN', 'Caribbean', 'Central America',
                     'South America', 'NORTHERN AMERICA', 'OCEANIA', 'Melanesia', 'Micronesia', 'Polynesia*']

In [24]:
paises_a_filtrar = [pais.strip().upper() for pais in paises_a_filtrar]

d_mujeres = d_mujeres[~d_mujeres['País'].str.strip().str.upper().isin(paises_a_filtrar)].copy()

In [25]:
d_mujeres.shape

(1175, 4)

In [26]:
d_mujeres.to_csv('destinoMujeres.csv', index=False)