In [1]:
import pandas as pd
import numpy as np

In [2]:
o_mujeres = pd.read_csv('origen_mujeres_clean.csv')

In [3]:
o_mujeres.head()

,Region,Location code,Year,Numero de Migrantes
0,WORLD,900,1990,49.3
1,Sub-Saharan Africa,947,1990,46.9
2,Northern Africa and Western Asia,1833,1990,46.0
3,Central and Southern Asia,921,1990,45.2
4,Eastern and South-Eastern Asia,1832,1990,49.8

In [4]:
o_mujeres.shape

(1988, 4)

In [5]:
o_mujeres.dtypes

Region                  object
Location code            int64
Year                     int64
Numero de Migrantes    float64
dtype: object

In [6]:
o_mujeres.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1988 entries, 0 to 1987
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Region               1988 non-null   object
 1   Location code        1988 non-null   int64
 2   Year                 1988 non-null   int64
 3   Numero de Migrantes  1988 non-null   float64
dtypes: float64(1), int64(2), object(1)
memory usage: 62.2+ KB

In [7]:
o_mujeres.rename(columns={'Region': 'País', 'Year': 'Año', 'Location code': 'Código de ubicación'}, inplace=True)

In [8]:
o_mujeres = o_mujeres[~o_mujeres['Año'].isin([1990, 1995])]

In [9]:
valores_unicos = o_mujeres['País'].unique()
print(valores_unicos)

['WORLD' '  Sub-Saharan Africa' '  Northern Africa and Western Asia'
 '  Central and Southern Asia' '  Eastern and South-Eastern Asia'
 '  Latin America and the Caribbean'
 '  Oceania (excluding Australia and New Zealand)'
 '  Australia and New Zealand' '  Europe and Northern America'
 '  Developed regions' '  Less developed regions'
 ' Less developed regions, excluding least developed countries'
 ' Less developed regions, excluding China' '  Least developed countries'
 '  Land-locked Developing Countries (LLDC)'
 '  Small island developing States (SIDS)' '  High-income countries'
 '  Middle-income countries' ' Upper-middle-income countries'
 ' Lower-middle-income countries' '  Low-income countries' ' AFRICA'
 '  Eastern Africa' '   Burundi' '   Comoros' '   Djibouti' '   Eritrea'
 '   Ethiopia' '   Kenya' '   Madagascar' '   Malawi' '   Mauritius*'
 '   Mayotte*' '   Mozambique' '   Réunion*' '   Rwanda' '   Seychelles'
 '   Somalia' '   South Sudan' '   Uganda'
 '   United Republic of Tanzania*' '   Zambia' '   Zimbabwe'
 '  Middle Africa' '   Angola' '   Cameroon' '   Central African Republic'
 '   Chad' '   Congo' '   Democratic Republic of the Congo'
 '   Equatorial Guinea' '   Gabon' '   Sao Tome and Principe'
 '  Northern Africa' '   Algeria' '   Egypt' '   Libya' '   Morocco'
 '   Sudan' '   Tunisia' '   Western Sahara' '  Southern Africa'
 '   Botswana' '   Eswatini' '   Lesotho' '   Namibia' '   South Africa'
 '  Western Africa' '   Benin' '   Burkina Faso' '   Cabo Verde'
 "   Côte d'Ivoire" '   Gambia' '   Ghana' '   Guinea' '   Guinea-Bissau'
 '   Liberia' '   Mali' '   Mauritania' '   Niger' '   Nigeria'
 '   Saint Helena*' '   Senegal' '   Sierra Leone' '   Togo' ' ASIA'
 '  Central Asia' '   Kazakhstan' '   Kyrgyzstan' '   Tajikistan'
 '   Turkmenistan' '   Uzbekistan' '  Eastern Asia' '   China*'
 '   China, Hong Kong SAR*' '   China, Macao SAR*'
 '   China, Taiwan Province of China*'
 "   Dem. People's Republic of Korea" '   Japan' '   Mongolia'
 '   Republic of Korea' '  South-Eastern Asia' '   Brunei Darussalam'
 '   Cambodia' '   Indonesia' "   Lao People's Democratic Republic"
 '   Malaysia*' '   Myanmar' '   Philippines' '   Singapore' '   Thailand'
 '   Timor-Leste' '   Viet Nam' '  Southern Asia' '   Afghanistan'
 '   Bangladesh' '   Bhutan' '   India' '   Iran (Islamic Republic of)'
 '   Maldives' '   Nepal' '   Pakistan' '   Sri Lanka' '  Western Asia'
 '   Armenia' '   Azerbaijan*' '   Bahrain' '   Cyprus*' '   Georgia*'
 '   Iraq' '   Israel' '   Jordan' '   Kuwait' '   Lebanon' '   Oman'
 '   Qatar' '   Saudi Arabia' '   State of Palestine*'
 '   Syrian Arab Republic' '   Turkey' '   United Arab Emirates'
 '   Yemen' ' EUROPE' '  Eastern Europe' '   Belarus' '   Bulgaria'
 '   Czechia' '   Hungary' '   Poland' '   Republic of Moldova*'
 '   Romania' '   Russian Federation' '   Slovakia' '   Ukraine*'
 '  Northern Europe' '   Channel Islands*' '   Denmark*' '   Estonia'
 '   Faroe Islands*' '   Finland*' '   Iceland' '   Ireland'
 '   Isle of Man*' '   Latvia' '   Lithuania' '   Norway*' '   Sweden'
 '   United Kingdom*' '  Southern Europe' '   Albania' '   Andorra'
 '   Bosnia and Herzegovina' '   Croatia' '   Gibraltar*' '   Greece'
 '   Holy See*' '   Italy' '   Malta' '   Montenegro' '   North Macedonia'
 '   Portugal' '   San Marino' '   Serbia*' '   Slovenia' '   Spain*'
 '  Western Europe' '   Austria' '   Belgium' '   France*' '   Germany'
 '   Liechtenstein' '   Luxembourg' '   Monaco' '   Netherlands*'
 '   Switzerland' ' LATIN AMERICA AND THE CARIBBEAN' '  Caribbean'
 '   Anguilla*' '   Antigua and Barbuda' '   Aruba*' '   Bahamas'
 '   Barbados' '   Bonaire, Sint Eustatius and Saba*'
 '   British Virgin Islands*' '   Cayman Islands*' '   Cuba' '   Curaçao*'
 '   Dominica' '   Dominican Republic' '   Grenada' '   Guadeloupe*'
 '   Haiti' '   Jamaica' '   Martinique*' '   Montserrat*'
 '   Puerto Rico*' '   Saint Barthélemy*' '   Saint Kitts and Nevis'
 '   Saint Lucia' '   Saint Martin (French part)*'
 '   Saint Vincent and the Grenadines' '   Sint Maarten (Dutch part)*'
 '   Trinidad and Tobago' '   Turks and Caicos Islands*'
 '   United States Virgin Islands*' '  Central America' '   Belize'
 '   Costa Rica' '   El Salvador' '   Guatemala' '   Honduras' '   Mexico'
 '   Nicaragua' '   Panama' '  South America' '   Argentina'
 '   Bolivia (Plurinational State of)' '   Brazil' '   Chile'
 '   Colombia' '   Ecuador' '   Falkland Islands (Malvinas)*'
 '   French Guiana*' '   Guyana' '   Paraguay' '   Peru' '   Suriname'
 '   Uruguay' '   Venezuela (Bolivarian Republic of)' ' NORTHERN AMERICA'
 '   Bermuda*' '   Canada' '   Greenland*' '   Saint Pierre and Miquelon*'
 '   United States of America*' ' OCEANIA ' '   Australia*'
 '   New Zealand*' '  Melanesia' '   Fiji' '   New Caledonia*'
 '   Papua New Guinea' '   Solomon Islands' '   Vanuatu' '  Micronesia'
 '   Guam*' '   Kiribati' '   Marshall Islands'
 '   Micronesia (Fed. States of)' '   Nauru'
 '   Northern Mariana Islands*' '   Palau' '  Polynesia*'
 '   American Samoa*' '   Cook Islands*' '   French Polynesia*' '   Niue*'
 '   Samoa' '   Tokelau*' '   Tonga' '   Tuvalu'
 '   Wallis and Futuna Islands*' 'OTHER']

In [10]:
paises_a_filtrar = ['WORLD', 'Sub-Saharan Africa', 'Northern Africa and Western Asia',
                     'Central and Southern Asia', 'Eastern and South-Eastern Asia',
                     'Latin America and the Caribbean',
                     'Oceania (excluding Australia and New Zealand)',
                     'Australia and New Zealand', 'Europe and Northern America',
                     'Developed regions', 'Less developed regions',
                     'Less developed regions, excluding least developed countries',
                     'Less developed regions, excluding China',
                     'Least developed countries',
                     'Land-locked Developing Countries (LLDC)',
                     'Small island developing States (SIDS)',
                     'High-income countries', 'Middle-income countries',
                     'Upper-middle-income countries', 'Lower-middle-income countries',
                     'Low-income countries', 'AFRICA', 'Eastern Africa',
                     'Northern Africa', 'Middle Africa', 'Southern Africa',
                     'Western Africa', 'ASIA','Central Asia', 'Eastern Asia', 
                     'South-Eastern Asia', 'Southern Asia', 'Western Asia', 'EUROPE',
                     'Eastern Europe', 'Northern Europe', 'Southern Europe', 'Western Europe',
                     'Caribbean', 'Central America','South America', 'NORTHERN AMERICA', 'OCEANIA',
                     'Melanesia', 'Micronesia', 'Polynesia*', 'OTHER']

In [11]:
paises_a_filtrar = [pais.strip().upper() for pais in paises_a_filtrar]

o_mujeres = o_mujeres[~o_mujeres['País'].str.strip().str.upper().isin(paises_a_filtrar)].copy()

In [12]:
o_mujeres.reset_index(drop=True, inplace=True)

In [13]:
o_mujeres.head()

          País  Código de ubicación   Año  Numero de Migrantes
0      Burundi                  108  2000                 48.8
1      Comoros                  174  2000                 47.6
2     Djibouti                  262  2000                 42.6
3      Eritrea                  232  2000                 50.1
4     Ethiopia                  231  2000                 46.3

In [14]:
o_mujeres.shape

(1175, 4)

In [15]:
o_mujeres.to_csv('origenMujeres.csv', index=False)